<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Form</title>
</head>
<body>
    <div>
        <form method="post" action="/save-form" enctype="multipart/form-data">
            <input name="first_name" placeholder="Name"><br>
            <input name="last_name" placeholder="Surname"><br>
            <input type="email" name="email" placeholder="Email"><br>
            <input name="age" placeholder="Age"><br>
            <input type="file" name="avatar" accept="image/*"><br>
            <input type="submit" value="Send Request">
        </form>
    </div>
</body>
</html>