<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Значения из файла</title>
    </head>
    <body>
        <p>First Name: {{ fileFirstName }}</p>
        <p>Last Name: {{ fileLastName }}</p>
        <p>Age: {{ fileAge }}</p>
        <p>Email: {{ fileEmail }}</p>
    </body>
</html>